######################
# Eclipse
######################
.project
.settings/
.tern-project

######################
# Visual Studio Code
######################
.vscode/
.factorypath

######################
# BIG FILES
######################
audio/
zip/
