body.album {
	font-family: 'Montserrat', sans-serif;
}

.carousel-item {
  	height: 80vh;
  	background-size: cover;
  	background-position: center center;
}

.carousel-caption {
	top:1.25rem;
}

a {
	text-decoration: none !important;
}

.navbar-brand {
  margin-right: auto !important;
  margin-left: auto !important;
}

.text-shadow, .carousel-item ul.text-shadow li { 
	font-weight: bold;
	text-shadow: 0px 0px 2px #fff;
}

.filtre {
	opacity: 0.2;
}

.img-cover {
	width: 75vh;
	max-width: 100%;
	margin:auto;
}