body.album {
	font-family: 'Montserrat', sans-serif;
}

.carousel-item {
  	height: 80vh;
  	background-size: cover;
  	background-position: center center;
}

.carousel-caption {
	top:1.25rem;
}

a {
	text-decoration: none !important;
}

.navbar-brand {
  margin-right: auto !important;
  margin-left: auto !important;
}

.filtre {
	opacity: 0.2;
}

.img-cover {
	width: 75vh;
	max-width: 100%;
	margin:auto;
}


.scroll-y {
	overflow-y: auto !important;
}